.raceselection {
    width: 65%;
    padding-left: 5%;
    float: left;
    padding-bottom: 40px;
    border-bottom: 1px dashed rgb(221, 221, 221);
}

.card {
    text-align: center;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 300px;
    width: 200px;
    margin-top: 25px;
}