.postComment {
    background-color: red;
    border: 1px solid black;
    overflow: auto;
    width: 90%;
    margin: 5px auto 5px;
    padding-top: 5px;
}

.postUser {
    margin-top: 0;
    margin-left: 5px;
}

.postContent {
    padding-left: 10px;
}