.alignment {
    background-color: rgb(101, 174, 223);
    width:65%;
    float: left;
    padding-left: 5%;
    padding-bottom: 20px;
}

.select {
    width: 200px;
    float: left;
}

.text {
    width: 60%;
    float: left;
    margin-left: 50px;
}