/* .mainForum {
    background-color:  #464444;
} */

.forumPostBody {
    border-radius: 10px;
    background-color: #2c2f33;
    margin-top: 20px;
	width: 750px;
    margin-left: 350px;
    min-height: 800px;
}

.forumPostBody h1 {
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.newPostDiv {
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    overflow: auto;
    width: 90%;
    margin: 0 auto 30px;
}

#newPost {
    margin-left: 5px;
    margin-top: 5px;
}

:root {
    background-color: #464444;
    --textColour: #0b0200;
    --linkColour: #ff0000;
    --palette-dark-red: #330905;
    --palette-red: #7a240a;
    --buttonColour: #b95c0d;
    --palette-beige: #6b4e44;
    --backgroundColour:#2c2f33;
    --backgroundColourSecondary: #464444;
}