.forumPostBody {
    border-radius: 10px;
	background-color: purple;
    margin-top: 20px;
	width: 750px;
    margin-left: 350px;
    min-height: 800px;
}

.forumPostBody h1 {
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.button {
    float:right;
    margin-right: 10px;
    background-color: yellow;
    padding: 10px;
}

.newPostDiv {
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    overflow: auto;
    width: 90%;
    margin: 0 auto 30px;
}

#newPost {
    margin-left: 5px;
    margin-top: 5px;
}