.Member {
    display: block;
    margin: 0;
    border-bottom: 2px solid black;
}


/* li { background: green; }
li:nth-child(odd) { background: red; } */

.Members {
    height: 75%;
    overflow-y: scroll;
}
.Members::-webkit-scrollbar { width: 0 !important }

.Memberlistul {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

button {
    width: 100%;
    border-radius: 5px;
    border-width: 0;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
}

.MemberTitle {
    margin: 0px 0px 0px 0px;
    color: var(--palette-black);
}

.Memberlist {
    height: 100%;
    width: 340px;
    border-right: black 2px solid;
    float: left;
}