.Member {
    display: block;
    margin: 0;
    border-bottom: 2px solid black;
    color: var(--textColour);
}

.Members {
    height: calc(100% - 116px);
    overflow-y: scroll;
}
.Members::-webkit-scrollbar { width: 0 !important }

.Memberlistul {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.MuiButton-root.GroupAction {
    width: 100%;
    border-radius: 5px;
    border-width: 0;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    color: var(--textColour);
    background-color: transparent;
}

.MuiButton-root.GroupAction:hover {
    background-color: var(--buttonColour);
}

.MemberTitle {
    margin: 0px 0px 0px 0px;
    color: var(--textColour);
}

.Memberlist {
    height: 100%;
    width: 340px;
    border-right: black 2px solid;
    float: left;
}