.class-selection {
    width:65%;
    float: right;
    padding-right: 5%;
    padding-bottom: 20px;
}

.card {
    text-align: center;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 300px;
    width: 200px;
    margin-top: 25px;
}