.forumPost {
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    overflow: auto;
    width: 90%;
    margin: 0 auto 30px;
}

.postTitle {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 0;
    margin-bottom: 5px;
    text-decoration: underline;
}

.postUser {
    margin-top: 0;
    margin-left: 5px;
}

.postContent {
    padding-left: 10px;
}

.postComments {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 5px;
}

#deleteButton {

    background-color: white;
    margin-top: 10px;
    right: 0;
    bottom: 0;
}

