.dice20 {
    grid-area: dice20;
}

.dice12 {
    grid-area: dice12;
}

.dice10 {
    grid-area: dice10;
}

.dice8 {
    grid-area: dice8;
}

.dice6 {
    grid-area: dice6;
}

.dice4 {
    grid-area: dice4;
}