.d20, .d12, .d10, .d8, .d6, .d4 {
    max-width:100%;
    max-height:100%;
}

.d20 {
    grid-area: d20;
}

.d12 {
    grid-area: d12;
}

.d10 {
    grid-area: d10;
}

.d8 {
    grid-area: d8;
}

.d6 {
    grid-area: d6;
}

.d4 {
    grid-area: d4;
}