.title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.charactercreatepage {
    color: var(--textColour);
}

.wide {
    padding-left: 30%;
    padding-bottom: 30px;
    float: left;
    height: 30px;
    width: 80%;
    padding-top: 20px;
}