.roll {
    grid-area: roll;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "d20 d12"
        "d10 d8"
        "d6 d4"
        "roll roll";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 15px;
    width: 100%;
    height: 426px;
}

.Diceroller {
    z-index: 9999;
    /* width: 20%; */
    position: relative;
    top: 0;
    right: 0;
    /* height: 100%; */
    /* padding-top: 10px;
    padding-right: 10px; */
}

.MuiButton-root.DicerollerButton {
    position: fixed;
    top: 70px;
    right: 0;
    background-color: transparent;
    color: var(--textColour);
}

.MuiButton-root.DicerollerButton:hover {
    background-color: var(--buttonColour);
}

.MuiButton-root.roll {
    background-color: transparent;
    color: var(--textColour);
}

.MuiButton-root.roll:hover {
    background-color: var(--buttonColour);
}

.test {
    /* height: calc(100% - 64px); */
    /* top: 64px; */
    width: 300px;
    background-color: inherit;
}

.MuiPaper-root.test1 {
    height: 100%;
    width: 100%;
    background-color: inherit;
}

/* .MuiDrawer-root.Drawer {
    top: 64px;
} */