.log {
    grid-area: log;
}

.Dicelog {
    white-space: pre-line;
    overflow-y: scroll;
    height: 50px;
    width: 100%;
}

.Dicelog::-webkit-scrollbar { width: 0 !important }

.logOutput {
    text-align: center;
    color: var(--palette-black);
}