.yourGroups {
    
    background-color: #464444;
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
    min-height: 400px; 
    /* Note: remove this min-height variable later so it can group with number of groups
    you are in */
    float: left;
    border: solid 1px black
}

#yourGroupsTitle {

    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: black 2px solid;
    font-size: 24px;

}

.groupDiv {
    border: solid black 1px ;
    height: 100px;
    background-color: #464444;
    top: 0;
    margin-bottom: 15px;
}

#indivGroupTitle {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

#icon {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: solid black 1px;
}

.groupIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}