.MuiCard-root.tile {
    margin: 10px;
    width: 20%;
    min-width: 350px;
    background-color: var(--backgroundColourSecondary);
    color: var(--textColour);
}

.MuiCardMedia-root {
    height: 16vh;
    min-height: 150px;
}

.MuiCardActionArea-root.cardArea {
    height: 100%;
}

.MuiCardContent-root.Groupdescription {
    height: 80px;
}

.MuiCard-root .MuiTouchRipple-child {
    background-color: var(--linkColour);
}

.MuiCardActionArea-root:hover {
    color: var(--linkColour);
}
