.MuiToolbar-root.Navbar {
    background-color: var(--backgroundColourSecondary);
    height: 64px;
}

.MuiButton-root.NavbarLink:hover {
    color: var(--backgroundColourSecondary);
}

.MuiButton-root.NavbarLink {
    color: var(--textColour);
}

.AccountIcon {
    margin-left: auto;
}

#logo {
    width : 50px;
    height: 50px;
}