.yourGroups {
    
    background-color: green;
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
    min-height: 400px; 
    /* Note: remove this min-height variable later so it can group with number of groups
    you are in */
    float: left
}

#yourGroupsTitle {

    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: black 2px solid;
    font-size: 24px;

}